<div id="container">
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li>
            <a class="navbar-brand" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Pokedex</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Videogames</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" >GCC Pokemon</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-disabled="true">TV Pokemon</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-disabled="true">News!</a>
          </li>
        </ul>
        
      </div>
    </div>
  </nav>
  <form  class="form-pokemon" role="search">
    <input class="pokemon-input" type="search" placeholder="Search a Pokemon" aria-label="Search">
    <button class="submit-btn">
      <img src="../../../assets/pokeball.png" alt="pokeball">
    </button>
  </form>
  <app-pokemon-list/>
</div>
